.about {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.about > div {
    margin: 2rem;
    text-align: center;
    width: 30%;
}

.about img {
    margin: -20px 0 0 -38px;
    
}

.img-about {
    border-radius: 40px;
    width: 340px;
    height: 340px;
}

.bg-blue {
    background-color: var(--cyan-3);
    height: 300px;
    padding: 43px 0px 0px 42px;
    width: 300px;
}

.bg-black {
    background-color: var(--black-9);
}

.about > div > p {
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 2rem;
}