:root {
    /* paleta de cores */
    --black: #000;
    --black-9: #44403F;
    --blue-9: #031D38;
    --cyan-3: #C8E2DF;
    --cyan-2: #3F95A9;
    --purple-9: #160041;
    --white: #FFF;
    --white-9: #FEFEFE;
}

/* fontes */
.font-1 {
    font-family: 'Montserrat', sans-serif;
}

.font-2 {
    font-family: 'Raleway', sans-serif;
}


.title_home {
    color: var(--blue-9);
    font-weight: 600;
    text-decoration: underline;
    margin: 1.5em;
    font-size: 30px;
}

.subtitle_home {
    color: var(--blue-9);
    font-weight: 600;
    text-decoration: underline;
    margin: 1.5em;
    font-size: 20px;
}